.route{
    margin-right: 30px;
    &__paragraph{
        margin-top: 10px;
        font-size: 15px;
    }
    &__time{
        margin-top: 10px;
        font-size: 15px;
        font-weight: bold;
    }
}